#root {
  display: flex;
  justify-content: center;
}

.todo-list {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 2px solid grey;
  padding: 15px;
}

.todo {
  margin: 5px;
  display: flex;
}

.todo button {
  margin: 5px;
  display: flex;
}

.todo button {
  margin-right: 10px;
  font-weight: 800;
}

.todo .task {
  font-size: 20px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 15px;
}
